
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>

</head>
<body>
    @{
        ViewBag.Title = "Inicio";
    }

    <div class="jumbotron">
        <h1>Bienvenido al curso de C# ASP.NET</h1>
        <p class="lead">
            ASP.NET es un framework de desarrollo web creado por Microsoft. Es una tecnología utilizada para construir aplicaciones web dinámicas y escalables. ASP.NET permite a los desarrolladores crear sitios web y aplicaciones utilizando múltiples lenguajes de programación, como C# o Visual Basic.NET.

        </p>
        <p><a href="~/Views/Accounts/Signup.cshtml" class="btn btn-primary btn-lg">Inscribete ahora!</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Sepa que</h2>
            <p>
                ASP.NET se basa en el Common Language Runtime (CLR), que es el entorno de ejecución de .NET Framework. Proporciona una amplia gama de características y funcionalidades que simplifican el desarrollo web, como el manejo de solicitudes y respuestas, el enrutamiento, la gestión de sesiones, la autenticación y autorización, la generación de páginas dinámicas y la conexión a bases de datos.


            </p>

        </div>
        <div class="col-md-4">
            <h2>Tambien...</h2>
            <p>
                ASP.NET se basa en el Common Language Runtime (CLR), que es el entorno de ejecución de .NET Framework. Proporciona una amplia gama de características y funcionalidades que simplifican el desarrollo web, como el manejo de solicitudes y respuestas, el enrutamiento, la gestión de sesiones, la autenticación y autorización, la generación de páginas dinámicas y la conexión a bases de datos.


            </p>
          
        </div>
        <div class="col-md-4">
            <h2>Por ultimo</h2>
            <p>Existen diferentes modelos de programación dentro de ASP.NET, como Web Forms, MVC (Model-View-Controller) y Web API. Web Forms utiliza un enfoque de arrastrar y soltar para crear interfaces de usuario y eventos de servidor para manejar interacciones. MVC divide la aplicación en tres componentes principales: el modelo (la lógica y los datos), la vista (la interfaz de usuario) y el controlador (maneja las interacciones y coordina el flujo de la aplicación). Web API se utiliza para construir servicios web y API RESTful.</p>
        </div>
    </div>
</body>
</html>
